body{
    background-color: rgb(247, 255, 2);
}
h2{
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
}
p{ 
    background-color: rgb(255, 0, 0);
}
img{
    width: 200px;
    height: 600x;
}
.prueba{
    background-color: rgb(56, 237, 56);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}